h1 {
  font-size: 1.8em;
  margin: 10px 5px;
}

h2 {
  font-size: 1.6em;
  margin: 10px 5px;
}

p {
  font-size: 1.2em;
  margin: 0 10px;
  line-height: 1.7em;
}

ul {
  font-size: 1.2em;
  margin-left: 2.5em;
  list-style-type: square;
}

ol {
  font-size: 1.2em;
  margin-left: 2.5em;
}
