#write-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-bottom: 5rem;
}

.form-header {
  position: absolute;
  top: 0;
  margin: 0.5rem 0;
}

.form-elem {
  width: 100%;
  margin: 1em 0;
  height: fit-content;
}
